extends layout

block content
  h1 CSP: Image example
  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolor distinctio enim debitis facilis! Reiciendis eos repudiandae, nesciunt eligendi quo veniam quibusdam repellat tenetur? Vero nisi assumenda itaque debitis consequuntur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit excepturi dolorem repellat natus exercitationem corporis ea dolore eligendi hic aspernatur? Eos autem doloremque explicabo incidunt obcaecati sunt aliquid dolorem asperiores?
  img(src="https://images.unsplash.com/photo-1476608825565-f7cebeca38b1?ixlib=rb-0.3.5&s=63c972f3da84e556d799a1890579e778&auto=format&fit=crop&w=880&q=80", alt="CSP blocking image")
